*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* top section */

#top-heading{
    font-family: 'Vampiro One', cursive;
    color: rgb(240, 78, 105);
    font-size: 3.65rem;
}

.navbar{
    width: 100%;
    height: 10%;
    z-index: 1;
    position: fixed;

}

.secdondary{
        background-color: rgb(38, 177, 241); 
        box-shadow: 4px 4px 10px black;
        transition: all 0.8s;
}




.bgimage{
    background-image: url('../images/body.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 540px;
}



nav ul li a{
    color: red !important;
    padding-right: 40px !important;
}

.headerset{
    display: inline-blocks;
    margin-top: 109px;
    padding-top: 121px;
    padding-left: 234px;
    color: rgb(54, 53, 53);
}
.headerset button{
    background-color: rgb(228, 17, 87);
    border-color: rgb(228, 17, 87);
    color: white;
    border-radius: 8px;
    left: 40px;
    position: relative;
    top: 14px;
    left: 37px;
}

 .video{
     display: block;
    float: right;
    position: relative;
    top: 76px;
}
.outer{
    position: relative;
    width: 500px;
    height: 300px;
    border: 2px solid red;
    background-color: #42378f;
     background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    border-radius: 10px;
}
.inner{
    margin: 29px;
    height: 240px;
    border: 2px solid red;
    background-color: white;
}

.inner img{
    height: 40px;
    width: 40px;
    align-items: center;
    margin: 24% 45%;
} 

/* description section */
.description{
    
    background-repeat: no-repeat;
    margin-top: -22px;

}
#desc{
    margin-top: 10px;
}

#desc #desc2 h4{
    display: inline-block;
    margin-right: 66px;
    left: -112px !important;
}  

/* working */

.working{
    
    box-shadow: 4px 4px 20px rgb(153, 89, 226);
    padding-bottom: 29px;
    border-radius: 20px;
}

.working p{
    font-size: 2.6rem;
    color: rgb(56, 56, 212);
    text-align: center;
}
.working .circle{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 10px gray;
}
.working img{
    height: 200px !important;
    width: 270px !important;
}

/* Live-Classes */

#live-classes {
   box-shadow: -4px 4px 20px rgb(140, 140, 141);
    width: 70%;
    margin-top: 80px !important;
    margin-left: 45px !important;
}

#live-classes .container{
    height: 400px !important;
}

#live-classes .video{
    padding-left: 1870px !important;
}
#live-title{
    padding-top: 40px !important;
}
#live-desc1 p{
    margin-right: -120px;   
}

#live-desc2 h4{
    margin-right: 79px;   
}
#live-desc2 p{
    margin-right: -32px;   
}

#live-desc3 h4{
    margin-right: 37px;   
}
#live-desc3 p{
    margin-right: -47px;   
}

#live-classes .live-pic{
    display: inline-block;
    position: relative !important;
    bottom: 400px;
    position: relative;
    left:707px;
    
}
#live-classes .live-pic img{
    height: 293px;
    width: 368px;
    display: inline-block;
    
}



/* courses */
#courses{
 background-color: #63a4ff;
background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
height: 480px;
 
}
.course{
    background-color:white;
    z-index: 1;
    width: 280px;
    border: 2px solid rgb(192, 190, 190);
    padding: 10px;
    box-shadow: 2px 4px 10px gray;
    text-align: center !important;
    border-radius: 10px;
}
.course p{
    color: rgb(65, 65, 204);
    font-size: 1.2rem;
    margin-top: 15px !important;
    
}

.course img{
    height: 150px;
    width: 150px;

}

#view-courses button{
    position: relative !important;
    top: 40px;
    left: 680px !important;
}

/* books */

#book{
    background-color: #d5fefd;
background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
    border: 2px solid gray;
    box-shadow: 4px 4px 20px grey;
    border-radius: 90px;
    height: 480px;
}
.book{
    border: 2px solid purple;
    background-color: #c86fc9;
    background-image: linear-gradient(316deg, #c86fc9 0%, #f79ad3 74%);
    width: 280px;
    border: 2px solid rgb(192, 190, 190);
    padding: 10px;
    box-shadow: 2px 4px 10px gray;
    text-align: center !important;
    border-radius: 10px;
}
.book p{
    color: white;
    font-size: 1.2rem;
    margin-top: 15px !important;

}

.book img{
    height: 150px;
    width: 150px;
}

#book #more-book button{
    margin-top: 40px;
    margin-left: 540px;
}

/* instructor */
#instrutor{
    margin-top: 140px !important;
    
}

#instrutor .card{ 
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
   
}

#instrutor .card h3{
    color: white;
    font-family: 'Syne Mono', monospace;;
}


#instrutor .card p{
    font-size: 0.8rem;
    color: wheat;
}
#instrutor .card .stretched-link{
    color: rgb(226, 12, 12);
    font-size: 1rem;
}


/* .....Utitility.... */
h2{
    color: rgb(54, 53, 53); 
    font-family: 'PT Sans', sans-serif;
}
h3{
    color:rgb(56, 56, 212);
    font-family: 'PT Sans', sans-serif;
}
span{
    color:rgb(56, 56, 212);
    font-family: 'Trispace', sans-serif;
}
h5{
    color:rgb(56, 56, 212);
    font-family: 'Ubuntu', sans-serif;
}
.btn{
   
        background-color: rgb(228, 17, 87);
        border-color: rgb(228, 17, 87);
        color: white;
        border-radius: 8px;
        left: 40px;
        position: relative;
        top: 14px;
        left: 37px;
   
}
.btn:hover{
    color:rgb(228, 17, 87); 
    background-color: white;
    border-color:rgb(228, 17, 87) ;
}
